*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    display: flex;
    justify-content: center;
}

nav{
    display: flex;
    justify-content: center;
    border: 1px solid black;
    padding: 10px;
    background-color: teal;
}

nav ul{
    display: flex;
    flex-direction: row;
    gap: 10px; 
    background-color: teal;
}

nav ul a {
    text-decoration: none;
    color: black;
    border: 1px solid black;
    padding: 5px;
    border-radius: 3px;
}

nav ul a:hover{
    background-color: gray;
    color: white;
    transition: 0.3s;
}

nav ul li {
    list-style: none;
}
