<table class="table-container" border="1" cellpadding="10" cellspacing="0">
    <thead>
        <tr>
            <!-- Esto hace referencia a los dias-el head de la tabla -->
            <th>Hora</th>
            <th>Lunes</th>
            <th>Martes</th>
            <th>Miercoles</th>
            <th>Jueves</th>
            <th>Viernes</th>
        </tr>
    </thead>
    <tbody>
        <!--Row nº1-->
        <tr>
            <td>08:00-08:30</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <!--Row nº2-->
        <tr>
            <td>08:30-09:00</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <!--Row nº3-->
        <tr>
            <td>09:00-09-30</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <!--Row nº4-->
        <tr>
            <td>09:30-10:00</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <!--Row nº5-->
        <tr>
            <td>10:00-10:30</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <!--Row nº6-->
        <tr>
            <td>10:30-11:00</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <!--Row nº7-->
        <tr>
            <td>11:00-11:30</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <!--Row nº8-->
        <tr>
            <td>11:30-12:00</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <!--Row nº9-->
        <tr>
            <td>12:00-12:30</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </tbody>
</table>