
<div class="table">
    <div class="table-header">
        <div class="table-row">
            <div class="table-celda">Horarios</div>
            <div class="table-celda">Lunes</div>
            <div class="table-celda">Martes</div>
            <div class="table-celda">Miercoles</div>
            <div class="table-celda">Jueves</div>
            <div class="table-celda">Viernes</div>
        </div>

        <div class="table-body">
            <div class="table-row">
              <div class="table-celda">08:00-08:30</div>
              <div class="table-celda"></div>
              <div class="table-celda"></div>
              <div class="table-celda"></div>
              <div class="table-celda"></div>
              <div class="table-celda"></div>
            </div>
            <div class="table-row">
              <div class="table-celda">08:30-09:00</div>
              <div class="table-celda"></div>
              <div class="table-celda"></div>
              <div class="table-celda"></div>
              <div class="table-celda"></div>
              <div class="table-celda"></div>
            </div>
            <div class="table-row">
              <div class="table-celda">09:00-09-30</div>
              <div class="table-celda"></div>
              <div class="table-celda"></div>
              <div class="table-celda"></div>
              <div class="table-celda"></div>
              <div class="table-celda"></div>
            </div>
            <div class="table-row">
              <div class="table-celda">09:30-10:00</div>
              <div class="table-celda"></div>
              <div class="table-celda"></div>
              <div class="table-celda"></div>
              <div class="table-celda"></div>
              <div class="table-celda"></div>
            </div>
            <div class="table-row">
              <div class="table-celda">10:00-10:30</div>
              <div class="table-celda"></div>
              <div class="table-celda"></div>
              <div class="table-celda"></div>
              <div class="table-celda"></div>
              <div class="table-celda"></div>
            </div>
            <div class="table-row">
              <div class="table-celda">10:30-11:00</div>
              <div class="table-celda"></div>
              <div class="table-celda"></div>
              <div class="table-celda"></div>
              <div class="table-celda"></div>
              <div class="table-celda"></div>
            </div>
            <div class="table-row">
              <div class="table-celda">11:00-11:30</div>
              <div class="table-celda"></div>
              <div class="table-celda"></div>
              <div class="table-celda"></div>
              <div class="table-celda"></div>
              <div class="table-celda"></div>
            </div>
            <div class="table-row">
              <div class="table-celda">11:30-12:00</div>
              <div class="table-celda"></div>
              <div class="table-celda"></div>
              <div class="table-celda"></div>
              <div class="table-celda"></div>
              <div class="table-celda"></div>
            </div>
            <div class="table-row">
              <div class="table-celda">12:00-12:30</div>
              <div class="table-celda"></div>
              <div class="table-celda"></div>
              <div class="table-celda"></div>
              <div class="table-celda"></div>
              <div class="table-celda"></div>
            </div>
          </div>
    </div>
</div>